{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}

{% if is_admin %}
{% end %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
<style type="text/css">

    body{
/*      background-color: rgba(128, 128, 128, 0.15);*/
    }
</style>
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js"></script>


<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

    var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/');
    var checkout_url = $.environmentVar(
        'https://pay.loadingplay.com',
        'https://pay.loadingplay.com',
        'https://pay.loadingplay.com');
    var app_public = $.environmentVar(67,67,67);
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 16,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(products){
             }
        };
         $(document).ecommerce({
       'app_public' :  app_public,
       'animation' : 'simple',
       'base_url' : base_url,
       'checkout_url' :  checkout_url,
       'products_per_page' : 9
     });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
<script type="text/javascript">
    $(document).ready(function()
    {
    //   
    $(document).on("click", ".subcateg", function(ev){
        // ev.preventDefault();
    $(".subcateg").removeClass('active');
        $(this).addClass('active');
    });

    });
</script>

<script type="text/javascript">
  $(document).ready(function()
  {
    setTimeout(function()
    {
      $(".add-to-cart").click(function()
      {
        setTimeout(function()
        {
          $('#modal-marcha').modal('show');
        },1000);
      });
    },2000);
  });
</script>


<script type="text/javascript">
    $("#testButton").live("touchstart", function() {
      $(this).addClass("active");
    }).live("touchend", function() {
      $(this).removeClass("active");
    });

</script>
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
<body id="lapimport">
   <section>
    <div class="container">
    <div class="mobile img-mobile hidden-xs" style="background:url('{{ read_image(site.name + '_productos',500) }}'); height:350px; background-size:cover; margin-top:0px;
  filter: grayscale(0%) brightness(80%); -webkit-filter: grayscale(0%) brightness(80%); -moz-filter: grayscale(0%) brightness(80%); -ms-filter: grayscale(0%) brightness(80%);-o-filter: grayscale(0%) brightness(80%); background-position:center; margin-bottom: 40px;  width: 101%;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_productos">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_productos" name="image" id="img_productos">
        </div>
        {% end %}
        <img id="{{ site.name }}_productos" src="{{ read_image(site.name + '_productos', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos',500) }}'" class="banner_uno_list hidden" alt="item">
    </div> 
           <div class="col-md-12">
            <div class="text-center kina {{editabletext}}" text-id="{{ site.name + '_productos_til' }}"> {{ read_text(site.name +  '_productos_til') }}</div>
          </div>
</div>
</section>


<div class="espacio-1 hidden-md hidden-lg hidden-sm visible-xs"></div>


<section>
   <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div align="center">
         <div class=" kin text-left {{editabletext}}" text-id="{{ site.name + 'text_kin' }}">{{ read_text(site.name +  'text_kin') }}</div>
     </div>
    </div>
   </div>
</section>

<section>
   <div class="container">
       
      <div align="center">
         <hr class="pap">
         <img class="pap" src="https://84static.loadingplay.com/static/images/bc20e1d6a4c50211ff31086d22d79ad9_papa.png">
          <hr class="pap-2">
     </div>
       
   </div>
</section>


<div style="margin-bottom:30px;"></div>

<!-- ****dropdown categorias***** -->
<section>
  <div class="container min">
    <div aling="center" class="bili">
    <div class="col-md-12 gre">
      <div class="dropdown col-md-2 col-sm-12 col-xs-12 gre">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">LINEAS DE PRODUCTO
        <i class="fa fa-caret-down home" aria-hidden="true"></i></button>
        <ul class="dropdown-menu hola">
          <li><a class="subcateg" tag="chips">Tika Chips</a></li>
          <li><a class="subcateg" tag="stixs">Tika Stixs</a></li>
          <li><a class="subcateg" tag="crackers">Tika Crackers</a></li>
          <li><a class="subcateg" tag="pop">Tika Pop</a></li>
          <li><a class="subcateg" tag="nativas">Tika Nativas</a></li>
        </ul>
      </div>

      <div class="dropdown  col-md-2 col-sm-12 col-xs-12 gre">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">CATEGORIAS
      <i class="fa fa-caret-down home" aria-hidden="true"></i></button>
        <ul class="dropdown-menu hola">
          <li><a class="subcateg" tag="nuevos">Productos nuevos</a></li>
          <li><a class="subcateg" tag="populares">Los + Populares</a></li>
          <li><a class="subcateg" tag="oportunidades">Oportunidades</a></li>
          <li><a class="subcateg" tag="colaciones">Colaciones</a></li>
          <li><a class="subcateg" tag="aperitivos">Aperitivos</a></li>
          <li><a class="subcateg" tag="cocina">Cocina con tika</a></li>
        </ul>
      </div>

      <div class="dropdown  col-md-2 col-sm-12 col-xs-12 gre">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">FORMATO
        <i class="fa fa-caret-down home" aria-hidden="true"></i></button>
        <ul class="dropdown-menu hola">
          <li><a class="subcateg" tag="pequeno">Pequeño</a></li>
          <li><a class="subcateg" tag="mediano">Mediano</a></li>
          <li><a class="subcateg" tag="grande">Grande</a></li>
          <!--<li><a class="subcateg" tag="17gr">17gr</a></li>
          <li><a class="subcateg" tag="25gr">25gr</a></li>
          <li><a class="subcateg" tag="35gr">35gr</a></li>
          <li><a class="subcateg" tag="28gr">28gr</a></li>
          <li><a class="subcateg" tag="55gr">55gr</a></li>
          <li><a class="subcateg" tag="80gr">80gr</a></li>
          <li><a class="subcateg" tag="110gr">110gr</a></li>
          <li><a class="subcateg" tag="125gr">125gr</a></li>
          <li><a class="subcateg" tag="135gr">135gr</a></li>
          <li><a class="subcateg" tag="140gr">140gr</a></li>
          <li><a class="subcateg" tag="180gr">180gr</a></li>
          <li><a class="subcateg" tag="212gr">212gr</a></li> -->
        </ul>
      </div>
    </div>
  </div>
    </div>
</section>



<section class="nov">
   <div class="container">
           <div align="center" class="to"> 
              <div class="products">
                  <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
              </div>
            <div class="col-xs-12">
              <div style="margin-top:45px;"></div>
             <!--  <button type="button" class="btn btn-default more-products" style="display: none font-weight: 600;border-color: black;border-radius: 0px; margin-bottom: 100px;">Cargar más productos</button> -->
            </div>
          </div> 

    </div>
</section>

<!-- ************++********box banner*********+*++***** -->

<div class="clearfix-dos"> </div>


</body>


{% include '../home/footer.html' %}
{% end %}


