<div class="container">
    <div id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="clearfix"></div>
                <ul class="no-doti">
                    <div align="center">
                        <div class="caja-logo-footer">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil">
                                    <label for="img_footer_logo">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_footer_logo" name="image" id="img_footer_logo">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_footer_logo" src="{{ read_image(site.name + '_footer_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_footer_logo',) }}'" class="img-responsive logo-footer" alt="item">
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <li class="txt-footer-title {{editabletext}}" text-id="{{ site.name + '_redes' }}">
                    {{ read_text(site.name + '_redes') }}
                </li>
                <div class="text-left">
                    <div class="clearfix"></div>
                    <ul class="footer-div-content op">
                        <div class="col-md-10 col-xs-12 text-center">
                            <div class="col-md-6 col-xs-6 ">
                                <a href="https://www.instagram.com/tikachips/" target="_blank">
                                    <img class="social-media pull-right" src="https://84static.loadingplay.com/static/images/a4895a2f2337af051356291f722c1f68_instagram.png">
                                </a>
                            </div>
                            <div class="col-md-6 col-xs-6 ">
                                <a href="https://www.facebook.com/TikaChips" target="_blank">
                                    <img class="social-media pull-left" src="https://7static.loadingplay.com/static/images/4df0b24d8efd1543103cd9f608d51749_facebook.png">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="text-left">
                    <div class="clearfix"></div>
                    <div class="footer-txt {{editabletext}}" text-id="{{ site.name + '_footer_30' }}">
                        {{ read_text(site.name +  '_footer_30') }}
                    </div>
                </div>
                <form action='https://forms.zohopublic.com/sytes/form/tikashopnewsletter/formperma/BaqEHAC8bSdS1eONfXW7Wuv34e1KS7_1a1MubSk18rQ/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                    <input class="col-md-9 col-sm-9 col-xs-9 validate-required validate-email" id="fieldEmail" name="Email" required="" type="email" placeholder="Correo electrónico">
                    <p></p>
                    <button class="enviarr btn-form" type="submit">Ir</button>
                </form>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="text-left">
                    <div class="clearfix"></div>
                    <ul class="footer-div-content">
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_tik_00' }}">
                            {{ read_text(site.name + '_tik_00') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_tik_01' }}">
                            {{ read_text(site.name + '_tik_01') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_tik_02' }}">
                            {{ read_text(site.name + '_tik_02') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_tik_03' }}">
                            {{ read_text(site.name + '_tik_03') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_tik_04' }}">
                            {{ read_text(site.name + '_tik_04') }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="text-left">
                    <div class="clearfix"></div>
                    <ul class="footer-div-content op">
                        <div align="center">
                            <div class="caja-logo">
                                {% if is_admin %}
                                    <div class="image-upload lapiz visible-movil">
                                        <label for="img_farm_logo">
                                            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                        </label>
                                        <input type="file" class="editableimage" image-id="{{ site.name }}_farm_logo" name="image" id="img_farm_logo">
                                    </div>
                                {% end %}
                                <img id="{{ site.name }}_farm_logo" src="{{ read_image(site.name + '_farm_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_farm_logo',) }}'" class="img-responsive farm-certificate-logo" alt="item">
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="text-left">
                    <div class="clearfix"></div>
                    <ul class="footer-div-content">
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_footer_22' }}">
                            {{ read_text(site.name + '_footer_22') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_footer_23' }}">
                            {{ read_text(site.name + '_footer_23') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_footer_wew' }}">
                            {{ read_text(site.name + '_footer_wew') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_lod' }}">
                            {{ read_text(site.name + '_lod') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_lod_d' }}">
                            {{ read_text(site.name + '_lod_d') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_lod_dr' }}">
                            {{ read_text(site.name + '_lod_dr') }}
                        </li>
                        <li class="footer-txt {{editabletext}}" text-id="{{ site.name + '_lodd_dr' }}">
                            {{ read_text(site.name + '_lodd_dr') }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
