{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
{% end %}

{% block javascript %}
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/cart.config.js"></script>
    <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/frubik.js"></script>

    <script type="text/javascript">
        $('ul.nav div.dropdown').hover(function()
        {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function()
        {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#OpenAlert").click();

            var base_url = $.environmentVar(
                'https://apibodegas.loadingplay.com/',
                'https://apibodegas.loadingplay.com/',
                'https://apibodegas.loadingplay.com/');
            var checkout_url = $.environmentVar(
                'https://pay.loadingplay.com',
                'https://pay.loadingplay.com',
                'https://pay.loadingplay.com');
            var app_public = $.environmentVar(67, 67, 67);
            var config = {
                'app_public': app_public,
                'base_url': base_url,
                'maxProducts': 100,
                'templateOrigin': '#product_template',
                'tag': '',
                'ignore_stock': true,
                'infinite_scroll': true,
                'onLoad': function(){}
            };
            $(document).ecommerce({
                'app_public': app_public,
                'animation': 'simple',
                'base_url': base_url,
                'checkout_url': checkout_url,
                'products_per_page': 9,
                'infinite_scroll': true
            });

            $('.product-list').ecommerce('product_box', config);

        });
    </script>
{% end %}

{% block body %}
    {% if is_admin %}
        {% set editabletext = 'editabletext' %}
    {% else %}
        {% set editabletext = '' %}
    {% end %}

    <div class="container">
        <div align="center">
            <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="banner-principal" style="background:url('{{ read_image(site.name + '_img_slider_1') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                            {% if is_admin %}
                                <div class="image-upload visible-movil" style="top:80px;">
                                    <label for="img_slider_1">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_1" name="image" id="img_slider_1">
                                </div>
                            {% end %}
                        </div>
                        <div class=" banner-titulo banner-titulo-alt {{editabletext}}" text-id="{{ site.name + 'text_main_slide' }}">{{ read_text(site.name + 'text_main_slide') }}</div>
                    </div>
                    <!-- **otro** -->
                    <div class="mov item ">
                        <div class="banner-principal" style="background:url('{{ read_image(site.name + '_img_slider_2') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                            {% if is_admin %}
                                <div class="image-upload visible-movil" style="top:80px;">
                                    <label for="img_slider_2">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_2" name="image" id="img_slider_2">
                                </div>
                            {% end %}
                        </div>
                        <div class=" banner-titulo banner-titulo-alt {{editabletext}}" text-id="{{ site.name + 'text_main_slide_2' }}">{{ read_text(site.name + 'text_main_slide_2') }}</div>
                    </div>
                    <div class="mov item ">
                        <div class="banner-principal" style="background:url('{{ read_image(site.name + '_img_slider_3') }}'); " data-img-width="1600" data-img-height="890" data-diff="100">
                            {% if is_admin %}
                                <div class="image-upload visible-movil" style="top:80px;">
                                    <label for="img_slider_3">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_3" name="image" id="img_slider_3">
                                </div>
                            {% end %}
                        </div>
                        <div class=" banner-titulo banner-titulo-alt {{editabletext}}" text-id="{{ site.name + 'text_main_slide_3' }}">{{ read_text(site.name + 'text_main_slide_3') }}</div>
                    </div>
                </div>
                <div align="center">
                    <div class="lateral l-movil lateral-tikashop">
                        <div class="reser">
                            <div id="reserva" class="paxer-widget-calendar">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- ***FIN DE SLIDER*** -->
    <div class="margin-bottom"></div>
    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div align="center">
                    <div class=" kin text-left {{editabletext}}" text-id="{{ site.name + 'text_kin_home' }}">{{ read_text(site.name + 'text_kin_home') }}</div>
                </div>
            </div>
        </div>
    </section>
    <div class="margin-bottom"></div>
    <section>
        <div class="container">
            <div align="center">
                <hr class="pap">
                <img class="pap" src="https://84static.loadingplay.com/static/images/bc20e1d6a4c50211ff31086d22d79ad9_papa.png">
                <hr class="pap-2">
            </div>
        </div>
    </section>
    <div class="margin-bottom"></div>
    <div class="margin"></div>
    <section>
        <div class="container">
            <!--Banner 1 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_1' }}" content="{{ read_link(site.name + '_box_1') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_1' }}" href="{{ read_link(site.name + '_box_1') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_1">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_1" name="image" id="img_box_1">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_1" src="{{ read_image(site.name + '_box_1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_1',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_1' }}">{{ read_text(site.name + 'text_side_box_1') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 2 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho2">
                {% if is_admin %}
                <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_2' }}" content="{{ read_link(site.name + '_box_2') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_2' }}" href="{{ read_link(site.name + '_box_2') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_2">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_2" name="image" id="img_box_2">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_2" src="{{ read_image(site.name + '_box_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_2',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_2' }}">{{ read_text(site.name + 'text_side_box_2') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 3 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_3' }}" content="{{ read_link(site.name + '_box_3') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_3' }}" href="{{ read_link(site.name + '_box_3') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_3">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_3" name="image" id="img_box_3">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_3" src="{{ read_image(site.name + '_box_3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_3',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_3' }}">{{ read_text(site.name + 'text_side_box_3') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 4 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho2">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_4' }}" content="{{ read_link(site.name + '_box_4') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_4' }}" href="{{ read_link(site.name + '_box_4') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_4">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_4" name="image" id="img_box_4">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_4" src="{{ read_image(site.name + '_box_4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_4',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_4' }}">{{ read_text(site.name + 'text_side_box_4') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 5 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_5' }}" content="{{ read_link(site.name + '_box_5') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_5' }}" href="{{ read_link(site.name + '_box_5') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_5">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_5" name="image" id="img_box_5">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_5" src="{{ read_image(site.name + '_box_5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_5',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_5' }}">{{ read_text(site.name + 'text_side_box_5') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 6 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_6' }}" content="{{ read_link(site.name + '_box_6') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_6' }}" href="{{ read_link(site.name + '_box_6') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_6">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_6" name="image" id="img_box_6">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_6" src="{{ read_image(site.name + '_box_6', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_6',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_6' }}">{{ read_text(site.name + 'text_side_box_6') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 7 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_cereal_salvaje_avena_cacao' }}" content="{{ read_link(site.name + '_box_cereal_salvaje_avena_cacao') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_cereal_salvaje_avena_cacao' }}" href="{{ read_link(site.name + '_box_cereal_salvaje_avena_cacao') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_cereal_salvaje_avena_cacao">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_cereal_salvaje_avena_cacao" name="image" id="img_box_cereal_salvaje_avena_cacao">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_cereal_salvaje_avena_cacao" src="{{ read_image(site.name + '_box_cereal_salvaje_avena_cacao', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_cereal_salvaje_avena_cacao',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_cereal_salvaje_avena_cacao' }}">{{ read_text(site.name + 'text_side_box_cereal_salvaje_avena_cacao') }}</div>
                        </div>
                    </div>
                </a>
            </div>
            <!--Banner 8 -->
            <div class="col-md-6 col-sm-6 col-xs-12 article-ho">
                {% if is_admin %}
                    <img class="change-image editablelink img-editables" link-id="{{ site.name + '_box_cereal_salvaje_avena_quinoa' }}" content="{{ read_link(site.name + '_box_cereal_salvaje_avena_quinoa') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
                <a id="{{ site.name + '_box_cereal_salvaje_avena_quinoa' }}" href="{{ read_link(site.name + '_box_cereal_salvaje_avena_quinoa') }}">
                    <div class="container homi">
                        <div style="position:relative;">
                            {% if is_admin %}
                                <div class="image-upload lapiz visible-movil img-editables">
                                    <label for="img_box_cereal_salvaje_avena_quinoa">
                                        <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                    </label>
                                    <input type="file" class="editableimage" image-id="{{ site.name }}_box_cereal_salvaje_avena_quinoa" name="image" id="img_box_cereal_salvaje_avena_quinoa">
                                </div>
                            {% end %}
                            <img id="{{ site.name }}_box_cereal_salvaje_avena_quinoa" src="{{ read_image(site.name + '_box_cereal_salvaje_avena_quinoa', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_box_cereal_salvaje_avena_quinoa',) }}'" class="image homi" alt="item">
                        </div>
                        <div class="overlay homi">
                            <div class="hom {{editabletext}}" text-id="{{ site.name + 'text_side_box_cereal_salvaje_avena_quinoa' }}">{{ read_text(site.name + 'text_side_box_cereal_salvaje_avena_quinoa') }}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div align="center">
                    <div class=" kin text-left {{editabletext}}" text-id="{{ site.name + 'text_kin_home_fot' }}">{{ read_text(site.name + 'text_kin_home_fot') }}</div>
                </div>
            </div>
        </div>
    </section>
    <div class="margin-bottom"></div>
    <section>
        <div class="container">
            <div align="center">
                <hr class="pap">
                <img class="pap" src="https://84static.loadingplay.com/static/images/bc20e1d6a4c50211ff31086d22d79ad9_papa.png">
                <hr class="pap-2">
            </div>
        </div>
    </section>
    <div class="margin-bottom"></div>
    {% include '../home/footer.html' %}
{% end %}
