<a href="{{ site_base }}/article/detail/{{ url_escape(article['title']) }}/{{ article["id"] }}">
     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pink">
       <div class="hovereffect">
         <img class="img-responsive img-list" src="{{ article["thumb_500"] }}" />
         <div class="overlay">
             <a class="info" href="{{ site_base }}/article/detail/{{ url_escape(article['title']) }}/{{ article["id"] }}">Ver</a>
              <h1 class="text-left til-list" > {{ article["title"] }}</h1>
         </div>
       </div>
     </div> 
</a>