#footer
{
    background-color: #656667;
    width: 101%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
    margin-top: -1px;
}

.logo-footer
{
    width: 100%;
    position: relative;
    bottom: -28px;
    right: 50px;
    margin-bottom: 48px;
    float: left;
}

.footer-txt
{
    text-align: center;
    margin-left: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.farm-certificate-logo
{
    width: 60%;
    position: relative;
    bottom: -11px;
    margin-left: 0px;
}

.validate-email
{
    -webkit-appearance: none;
    background: #ffffff;
    padding: 0.8125em;
    border-radius: 5px;
    border: solid 1px #ccc;
    left: 9%;
    height: 30px;
}

.btn-form
{
    background-color: #000;
    font-size: 12px;
    border-color: #fff;
    border-radius: 0px 8px 8px 0px;
    position: relative;
    margin: 0;
    height: 30px;
    letter-spacing: 1px;
    color: #fff;
    bottom: 0px;
    width: 65px;
    left: 3%;
}

.social-media
{
    padding: 0px 0px;
    width: 38px;
    top: -3px;
    position: relative;
    left: 0px;
}

.txt-footer-title
{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 25px;
    position: relative;
    margin-bottom: 10px;
}

.footer-div-content
{
    margin-bottom: 24px;
    margin-top: 24px;
}

/*-----------------------------Responsive---------------------------------/*/

@media (max-width: 991px)
{
    .social-media
    {
        padding: 0px 0px;
        width: 38px;
        top: 0px;
        position: relative;
        left: -22px;
    }
}

@media (max-width: 767px)
{
    .logo-footer
    {
        width: 28%;
        position: relative;
        bottom: -28px;
        right: 20px;
        margin-bottom: 48px;
        float: inherit;
    }

    .txt-footer-title
    {
        text-align: center;
        margin-left: 0px;
        width: 100%;
        color: white;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 0px;
        top: 25px;
        position: relative;
        margin-bottom: 10px;
    }

    .social-media
    {
        padding: 0px 0px;
        width: 38px;
        top: 0px;
        position: relative;
        left: 0px;
    }

    .farm-certificate-logo
    {
        width: 21%;
        position: relative;
        bottom: -11px;
        margin-left: 0px;
        right: 0px;
    }

    .footer-div-content
    {
        margin-bottom: 24px;
        margin-top: 24px;
        padding: 0px;
    }

    .footer-txt
    {
        text-align: center;
        margin-left: 0px;
        width: 100%;
        color: white;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
