{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
<style type="text/css">

</style>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/product_detail.js"></script>

<script type="text/javascript">

    $(document).ready(function()
    {
        var base_url = $.environmentVar(
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/',
        'https://apibodegas.loadingplay.com/');
      var checkout_url = $.environmentVar(
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com');
        var app_public = $.environmentVar(67,67,67);
        var site_name = $.environmentVar('tikashop', 'tikashop', 'tikashop');


        $(document).ecommerce('product_detail', {
            'app_public' : app_public,
            'base_url' : base_url,
            'checkout_url': checkout_url,
            'product_id' : {{ product_id }},
            'container' : '.product-detail',
            onLoad: function(product){
                related(product.bullet_3);

                $(".add-to-cart").click(function()
                {
                    $('#myModal-marcha').modal('show');
                });

                if (product.bullet_1 != "" ){
                    $.get(site_base + "/article/tag?tag="+product.bullet_1, function(data)
                    {
                        $("#article-reladed").html(data);
                    });
                }
                            var mainImage = $("#mainImage");
            $(".img-container img").hover(function(){
             var src = $(this).attr("src");
             $("#mainImage").attr("src",src);
           });

            mainImage.on("click",function(){
              $(this).css("transform","scale(1.1)");
            });

            }

        });

        // productos relacionados
        var related = function(tag)
        {
            var config = {
                'app_public' : app_public,
                'base_url' : base_url,
                'maxProducts' : 8,
                'templateOrigin' : '#product_template_home',
                'tag' : '',
                'ignore_stock' : true,
                    'onLoad':function(){
                         // $('.ellipsis').ellipsis();
                         $(".ellipsis").dotdotdot();
                     }
                
            };
            $('.product-related').ecommerce('product_box', config);
        };
    });

</script>



<script type="text/template" id="product_detail">
    <section>
        <div style="display:none;">
            <img src="{{! images[1]['thumb_500'] }}" title="" alt="" class="fondo-detalle-producto">
            <div class="container">
            </div>
        </div>
    </section>


<section>
<div class="container" style="margin-top:100px;">
  <div class="col-md-10 col-sm-10 col-xs-12">
    <div class="hidden-xs texto-header-pro-detalle buscaCat"> ZAPATOS - COLECCION - ZAPATO MODERNO </div>
  </div>
</div>
</section>



    <div class="container">
        <div class="container-fluid">
        </div>
        <div class="clearfix-fun-2"></div>
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 sp">
                <div class="box-det">
                    <div class="col-md-7 col-sm-10 col-xs-12">
                        <div class="col-xs-3 col-md-2 col-sm-2 image_little">
                            <img class="{{! images[0]['thumb_200']|hide_if_empty}} col-xs-3 little img_prod_little" src="{{! images[0]['thumb_500'] }}" onload="this.onload='';this.src={{! images[0]['thumb_500']}}" />
               
                             <img class="{{! images[1]['thumb_500']|hide_if_empty }} img_two" src="{{! images[1]['thumb_500'] }}" onload="this.onload='';this.src={{! images[1]['thumb_500']}}" /> 
                      
                            <img class="{{! images[2]['thumb_500']|hide_if_empty }} col-xs-3 little img_prod_little" src="{{! images[2]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[2]['thumb_500']}}" />
                            <img class="{{! images[3]['thumb_500']|hide_if_empty }} col-xs-3 little img_prod_little" src="{{! images[3]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[3]['thumb_500']}}" />
                            <img class="{{! images[4]['thumb_500']|hide_if_empty }} col-xs-3 little img_prod_little" src="{{! images[4]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[4]['thumb_500']}}" />
                             <img class="{{! images[5]['thumb_500']|hide_if_empty }} col-xs-3 little img_prod_little" src="{{! images[5]['thumb_500'] }}" title="" alt="" onload="this.onload='';this.src={{! images[5]['thumb_500']}}" />
                        </div>
                        <div align="center">
                            <img id="img_detail" src="{{! images[0]['thumb_500'] }}" title="" alt="" class="img_prod_detail">
                        </div>
                    </div>
                    <div id="product-detail-id" class="col-md-5 col-sm-10 col-xs-12">
                        <div align="center">
                            <div class="up-ex ellipsis multiline"> {{! brand }} </div>
                            <h1 class="name texto-detalle" class="line" href="#">{{! name }}</h1>
                            <div class="texto-despacho ellipsis multiline"> {{!bullet_1}} </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                               <hr class="linea-detalle">
                            </div>
                            <div class="product-price-2">{{! main_price|money }} </div>
                            <div class="div-tallas"> {{!bullet_2}} </div>
                            <h3 class="descr_prod_detail ellipsis multiline"> {{! description }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>


<!-- 
{% end %} -->



{% block body %}



<div class="container-fluid">
    
    <div class="container  product-page"></div>
    </div>

</div>

<div class="product-detail"></div>




<div class="space80"></div>

<div class="container hidden">
        <div class="col-md-12">
            <div class="text-relac text-left"> OTROS PRODUCTOS</div>
            <div class="text-relac-2 text-left">QUE TE PODRIAN INTERESAR</div>
            <hr class="relacionados">
        </div>
    <div class="row product-related products">
    </div>
</div>
       





{% include '../home/footer.html' %}
{% end %}
